<!-- Web.Config Configuration File -->

<configuration>
    <appSettings>
	<add key="ConnString" value="data source=sputnik.unipcorp.net; initial catalog=checkdns;password=pwd;persist security info=True;user id=sa;packet size=4096" />
    </appSettings>
    <system.web>
        <customErrors mode="Off"/> 
       <compilation debug="true"/>               
    </system.web>
    
</configuration>